*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
#container{
    width: 60vw;
    height: 85vh;
    border: 4px solid black;
    margin: 7vh 19vw;
    box-shadow: 18px 17px 13px rgb(242, 100, 147);
    border-radius: 3rem;
    display: flex;
}
#btns{
    width: 35vw;
    height: 84vh;
    border-right: 4px soild black;
   
}
#efects{
    width: 25vw;
}
.b1{
    padding: 7vh 0 0 5vw;
    width: 35vw;
    height: 25vh;
}
.b2{
    padding: 7vh 0 0 5vw;
    width: 35vw;
    height: 25vh;
}
.b3{
    padding: 7vh 0 0 5vw;
    width: 35vw;
    height: 25vh;
}
p{
    font-size: 4vh;
    margin-left: 2vw;
}
button{
    border-radius: 1rem;
    border: 2px solid black;
    margin:2vh 1vw;
}
.r1{
    width: 20vw;
    height: 35vh;
    border: 4px solid black;
    margin-top: 5vh;
    display: flex;
    box-shadow: 18px 17px 13px rgb(242, 100, 147);
    border-radius: 2rem;
}
#t13{
    margin: 12vh 7vw;
    position: absolute;
}
.r2{
    width: 20vw;
    height: 35vh;
    border: 4px solid black;
    margin-top: 5vh;
    border-radius: 2rem;
    box-shadow: 18px 17px 13px rgb(242, 100, 147);
}
img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}